.forecast {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.forecast__element {
    margin-bottom: 10px;
    flex-basis: 21%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(230, 230, 230);
}

.forecast__element .forecast__border_cup {
    padding-left: 20px;
    padding-top: 11px;
    padding-bottom: 34px;
    margin-top: -5px;
    border-top: 1px solid rgb(230, 230, 230);
}

@media (max-width: 1084px) {
    .forecast {
        margin: 60px auto 10px;
        justify-content: center;
    }
    .forecast__element {
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

.forecast__element .forecast__title {
    font-size: 18px;
    color: rgb(59, 62, 74);
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 20px;
}

.forecast__element .forecast__description {
    font-size: 14px;
    color: rgb(130, 130, 130);
    line-height: 1.657;
    text-align: left;
}