.news {
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

@media (max-width: 1084px) {
    .news article {
        flex-basis: 100% !important;
        margin: 40px 40px;
    }
    .news .news__title {
        font-size: 28px !important;
    }
    
    .news .news__under-title {
        font-size: 18px !important;
    }
    
    .news .news__text {
        font-size: 16px !important;
    }
}

.news article {
    flex-basis: 49%;
}

.news article .news__head {
    display: inline-flex;
}

.news .news__title {
    font-size: 18px;
    color: rgb(69, 72, 85);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
}

.news .news__under-title {
    font-size: 18px;
    color: rgb(130, 130, 130);
    text-align: left;
    margin-bottom: 15px;
}

.news .news__text {
    font-size: 14px;
    color: rgb(130, 130, 130);
    line-height: 1.657;
    text-align: left;  
}

.news .news__foot .news__text {
    margin-bottom: 30px;
}

.news .news__photo {
    margin-right: 30px;
    margin-bottom: 30px;
}
