.card-employee .name {
    font-size: 20px;
}

.card-employee {
    padding: 30px;
    border-radius: 0 0 7px 7px; 
    height: 200px; 
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
}