.card-news {
    border-radius: 7px;
}

.card-service {
    width: 80px;
    height: 80px;
    border-radius: 7px;
}

.card-menu .body .title {
    font-size: 80px;
}
.card-menu .body .description {
    font-weight: 100;
    font-size: 40px;
    margin-top: 0px;
}
.card-menu {
    margin: 30px;
    width: auto;
    height: auto;
}

.card-menu .text {
    line-height: initial;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;        
    text-align: center;
    color: #fff;
    margin-top: -400px;
}
.card-info {
    border-radius: 7px;
    width: 100%;
    height: 120px;
    background: rgba(236, 236, 236, 1);
}

.card-employee .name {
    font-size: 20px;
}

.card-employee {
    padding: 30px;
    border-radius: 0 0 7px 7px; 
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
}

.card-employee .text {
    font-size: 15px;
    color: rgba(108, 122, 137, 1);
    line-height: 20pt;
}