.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 0 0 7px 7px;
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}