.nav-item {
    border-left: 1px solid rgba(189, 195, 199, 1);
    transition: background .5s ease-out;
    color: wheat;
    display: inline-flex;
    font-size: 20px;
    padding: 30px;
    margin: 0;
}

.nav-item:last-child {
    border-right: 1px solid rgba(189, 195, 199, 1);
}

.nav-item:hover {
    transition: background .5s ease;
    background: whitesmoke;
}

.nav-item:hover a.nav-link {
    color: rgb(52, 152, 219);
}

nav {
    background: rgb(52, 152, 219);
    border-radius: 7px 7px 0 0;
}

nav ul {
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
}

a.nav-link {
    text-decoration: none;
    color: white;
}

.link-primary {
    color:rgb(52, 152, 219);
    text-decoration: none;
}

.link-primary:hover {
    text-decoration: underline;
}