
body {
    font-family: system-ui;
    margin: 0;
    background: rgb(46, 49, 49);
}
.site-card {
    background: white;
    border-radius: 7px;
    margin: 20px;
}

hr {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

footer {
    margin-top: 50px; 
    width: 100%;
    height: 100%;
    background: rgba(236, 236, 236, 1);
    
}

.ul-info {
    list-style-type: none;
    padding: 0px;
}

.news {
    margin-top: 15px;
    margin-bottom: 15px;
}

.social-network {
    display: inline-flex;
    margin-top: 20px;
}

@media screen and (max-width: 1592px) {
    .grid-col-4 {
        margin: 30px;
        grid-gap: 25px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .grid-col-2 {
        margin: 30px;
        grid-gap: 25px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1360px) {
    .grid-row-2-col-4 {
        grid-column-gap: 25px;
        display: grid;
        height: max-content;   
        margin: 30px;
        margin-top: 50px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}


.fix {
    grid-column-start: 1;
    grid-column-end: 3;
}

.fix2 {
    grid-column-start: 3;
    grid-column-end: 5;
}