
body {
    font-family: system-ui;

}

hr {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}